{{- $page := . -}}
{{- $linkHeadings := true -}}
{{- if reflect.IsMap . -}}
    {{- $page = .Page -}}
    {{- if isset . "linkHeadings" -}}
        {{- $linkHeadings = .linkHeadings -}}
    {{- end -}}
{{- end -}}
{{- $toc := $page.TableOfContents -}}

<!-- Change TOC Attribute -->
{{- $regexPatternTOC := `<nav id="TableOfContents">` -}}
{{- $regexReplacementTOC := `<nav class="contents">` -}}
{{- $toc = $toc | replaceRE $regexPatternTOC $regexReplacementTOC -}}

<!-- Inject Class Attribute -->
{{- $regexPatternTOC := `(<nav class="contents">\n.+)<(ol|ul)>` -}}
{{- $regexReplacementTOC := `$1<$2 class="toc">` -}}
{{- $toc = $toc | replaceRE $regexPatternTOC $regexReplacementTOC -}}

<!-- Link Headings to TOC -->
{{- if and $linkHeadings $page.Site.Params.linkHeadingsToTOC -}}
    {{- $regexPatternTOC := `(<a)( href="#([^"]+)">)` -}}
    {{- $regexReplacementTOC := `$1 id="contents:$3"$2` -}}
    {{- $toc = $toc | replaceRE $regexPatternTOC $regexReplacementTOC -}}
{{ end }}

{{- $toc | safeHTML -}}
